services:
  - type: web
    name: buss-ek-puff-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: buss-ek-puff-db
          property: connectionString
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: EMAIL_HOST
        sync: false
      - key: EMAIL_PORT
        sync: false
      - key: ADMIN_EMAIL
        sync: false

databases:
  - name: buss-ek-puff-db
    databaseName: bussekpuff
    user: bussekpuff_user
    plan: free
